.uploadAdd-Container {
    width: 500px;
 
  
    border: solid;
}

.userAddsContainer{
    width: 700px;
    height: auto;
    flex-direction: column;
    display: flex;
    border: solid;
}

.userAdds{
    display: flex;
    flex-direction: row;
    border: solid;
}
.pageContainer{
    display: flex;
    flex-direction: row;
    border: solid;
}
.userOptions{
    width: 500px;
}

.ErrorPopup{
    width: 300px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 100px;
    text-align: center;
}

.addsBtn {
    width: 200px;
    height: 40px;
    margin-bottom: 4%;
    border-radius: 10px;
    color: #f8d815;
    background-color: black;
}